.btn {
  width: 642px;
  height: 108px;
  border-radius: 30px;
  background: #E83F59;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  span {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
  }
}
