.map-block {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;

  &__title {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    text-align: center;
    color: #B8132D;
  }

  &__content {
    display: flex;
    margin-top: 50px;
  }

  &__left img {
    width: 1039px;
    height: 447px;
  }

  &__right {
    margin-left: 110px;
    margin-top: -43px;
  }

  &__unit {
    margin-top: 96px;
  }

  &__subtitle {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #B8132D;
  }

  &__text {
    margin-top: 22px;
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #1F2937;
  }

  &__unit--worktime {
    margin-top: 50px;
  }

  &__worktime {
    display: flex;
    align-items: center;
    margin-top: 22px;
  }

  &__dot {
    width: 15px;
    height: 15px;
    color: #B8132D;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;

    img{
      margin-top: 10px;
    }
  }
  @media (max-width: 1279px) {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;

    &__title {
      font-size: 56px;
    }

    &__content {
      flex-direction: column;
      margin-top: 40px;
    }

    &__left img {
      width: 100%;
      height: auto;
      max-width: 800px;
      margin: 0 auto;
      display: block;
    }

    &__right {
      margin-left: 0;
      margin-top: 40px;
    }

    &__unit {
      margin-top: 60px;
    }

    &__subtitle {
      font-size: 34px;
    }

    &__text {
      font-size: 28px;
      margin-top: 18px;
      line-height: 110%;
    }

    &__unit--worktime {
      margin-top: 40px;
    }

    &__worktime {
      margin-top: 18px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      font-size: 42px;
      line-height: 110%;
    }

    &__content {
      margin-top: 30px;
    }

    &__right {
      margin-top: 30px;
    }

    &__unit {
      margin-top: 40px;
    }

    &__subtitle {
      font-size: 28px;
      line-height: 110%;
    }

    &__text {
      font-size: 24px;
      margin-top: 15px;
      line-height: 120%;
    }

    &__unit--worktime {
      margin-top: 30px;
    }

    &__worktime {
      margin-top: 15px;
      flex-wrap: wrap;
    }

    &__dot {
      width: 12px;
      height: 12px;
      margin-left: 5px;
      margin-right: 5px;

      img {
        margin-top: 8px;
      }
    }
  }

  @media (max-width: 480px) {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      font-size: 36px;
      line-height: 120%;
    }

    &__content {
      margin-top: 25px;
    }

    &__right {
      margin-top: 25px;
    }

    &__unit {
      margin-top: 30px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__text {
      font-size: 20px;
      line-height: 130%;
    }

    &__unit--worktime {
      margin-top: 25px;
    }

    &__worktime {
      margin-top: 12px;
    }
  }
}