.input-field {
  width: 100%;

  &__control {
    margin-top: 30px;
    width: 100%;
    padding: 18px 20px;
    border-radius: 12px;
    border: none;
    background: #F8DADF;
    font-size: 18px;
    font-family: Inter, sans-serif;
    color: #A14A59;

    &::placeholder {
      color: #A14A59;
      opacity: 0.8;
    }

    &:focus {
      outline: 2px solid #E83F59;
      background: #ffffff;
      transition: 0.25s;
    }
  }
}

@media (max-width: 480px) {
  .input-field__control {
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
  }
}
