.media-block {
  margin: 50px 0;
  padding-left: 100px;
  padding-right: 100px;

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  &__main {
    width: 1221px;
    height: 883px;
    background: #e6e6e6;
    display: block;

    img {
      display: block;
      width: 921px;
      height: 883px;
      object-fit: cover;
      background: #e6e6e6;
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;

    img {
      width: 353px;
      height: 257px;
      background: #e6e6e6;
      object-fit: cover;
      display: block;
    }
  }

  @media (max-width: 1279px) {
    padding-left: 60px;
    padding-right: 60px;
    margin: 40px 0;

    &__inner {
      flex-direction: column;
      gap: 30px;
    }

    &__main {
      width: 100%;
      height: 600px;

      img {
        width: 100%;
        height: 600px;
      }
    }

    &__side {
      margin-top: 0;
      flex-direction: row;
      gap: 15px;
      justify-content: center;

      img {
        width: 200px;
        height: 150px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 0;

    &__inner {
      gap: 20px;
    }

    &__main {
      height: 400px;

      img {
        height: 400px;
      }
    }

    &__side {
      flex-wrap: wrap;
      gap: 10px;

      img {
        width: 150px;
        height: 110px;
      }
    }
  }

  @media (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;

    &__main {
      height: 300px;

      img {
        height: 300px;
      }
    }

    &__side {
      img {
        width: 120px;
        height: 90px;
      }
    }
  }
}