.contact-center {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;

  &__title {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    color: #B8132D;
    line-height: 100%;
  }

  &__subtitle {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #1F2937;
    line-height: 100%;
  }

  &__row {
    display: flex;
    margin-top: 50px;
    gap: 100px;
    justify-content: center;
  }

  &__phones-title {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #B8132D;
    line-height: 100%;
  }

  &__phone {
    margin-top: 25px;
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    color: #1F2937;
    line-height: 100%;
  }

  @media (max-width: 1279px) {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;

    &__title {
      font-size: 56px;
    }

    &__subtitle {
      font-size: 28px;
      margin-top: 18px;
      line-height: 110%;
    }

    &__row {
      margin-top: 40px;
      gap: 60px;
      flex-wrap: wrap;
    }

    &__phones-title {
      font-size: 34px;
    }

    &__phone {
      font-size: 28px;
      margin-top: 20px;
      line-height: 110%;
    }
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      font-size: 42px;
      line-height: 110%;
    }

    &__subtitle {
      font-size: 24px;
      margin-top: 15px;
      line-height: 120%;
    }

    &__row {
      margin-top: 30px;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }

    &__phones-title {
      font-size: 28px;
      line-height: 110%;
    }

    &__phone {
      font-size: 24px;
      margin-top: 15px;
      line-height: 120%;
    }
  }

  @media (max-width: 480px) {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      font-size: 36px;
      line-height: 120%;
    }

    &__subtitle {
      font-size: 20px;
      margin-top: 12px;
      line-height: 130%;
    }

    &__row {
      margin-top: 25px;
      gap: 30px;
    }

    &__phones-title {
      font-size: 24px;
    }

    &__phone {
      font-size: 20px;
      margin-top: 12px;
      line-height: 130%;
    }
  }
}