.contact-center {
  margin-bottom: 50px;

  &__social {
    margin-left: 237px;
    text-align: center;
  }

  &__social-title {
    font-family: Nasalization;
    font-weight: 400;
    font-size: 40px;
    color: #B8132D;
  }

  &__icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  &__icon {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 1279px) {
    margin-bottom: 40px;

    &__social {
      margin-left: 0;
      margin-top: 40px;
    }

    &__social-title {
      font-size: 34px;
    }

    &__icons {
      margin-top: 40px;
      gap: 60px;
    }

    &__icon {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;

    &__social {
      margin-left: 0;
      margin-top: 30px;
    }

    &__social-title {
      font-size: 28px;
    }

    &__icons {
      margin-top: 30px;
      gap: 40px;
      flex-wrap: wrap;
    }

    &__icon {
      width: 80px;
      height: 80px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 25px;

    &__social {
      margin-top: 25px;
    }

    &__social-title {
      font-size: 24px;
    }

    &__icons {
      margin-top: 25px;
      gap: 30px;
    }

    &__icon {
      width: 60px;
      height: 60px;
    }
  }
  @media (max-width: 350px) {
    &__icons {
      gap: 20px;
    }

    &__icon {
      width: 50px;
      height: 50px;
    }
  }
}