.textarea-field {
  width: 705px;
  height: 499px;
  margin-top: 20px;

  background: #E83F5940;
  border-radius: 30px;
  border: 4px solid #E83F59;

  padding: 20px;
  font-family: Inter;
  font-size: 28px;
  color: #B8132D;
  &::placeholder {
    color: #A14A59;
    opacity: 0.8;
  }

  &:focus {
    outline: 2px solid #E83F59;
    background: #ffffff;
    transition: 0.25s;
  }
}