main {background: white;}
body {background: white;}
:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: white;

  /**  Шрифты */
  --font-family-title: "Open Sans";
}