<footer class="footer">
  <div class="footer__inner">

    <div class="footer__left">
      <div class="footer__logo_slogan">
        <img src="../assets/images/logo.webp" class="footer__logo">
        <div class="footer__slogan">
          Реклама, которая всегда <br> под рукой
        </div>
      </div>


      <div class="footer__copyright">
        © ООО «Спутник», 2025. Все права защищены.
      </div>
    </div>

    <div class="footer__right">
      <div class="footer__info">+7 (XXX) XXX-XX-XX</div>
      <div class="footer__info">galaxy@sputnik.ru</div>
      <div class="footer__info">
        г. Нижний Новгород, Московское шоссе, 1
      </div>
    </div>

  </div>
</footer>
