<header class="header_light">
    <div class="logo">
        <img src="/assets/images/logo.webp">
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="navigation">
        <a href="/index.html">Главная</a>
        <a href="#">Портфолио</a>
        <a href="/about_us.html">О нас</a>
        <a href="#">Услуги</a>
    </nav>

    <div class="icons">
        <div class="icon">
            <img src="/assets/images/notif.webp">
        </div>
        <div class="icon">
            <img src="/assets/images/user.webp">
        </div>
        <div class="icon">
            <img src="/assets/images/moon.webp">
        </div>
    </div>
</header>