<div class="project-card" tabindex="0">
    <picture class="project-card__picture">
        <img src="@@img" alt="@@title" class="project-card__image">
    </picture>

    <div class="project-card__body">
        <h3 class="project-card__title">@@title</h3>

        <p class="project-card__info">Узнаваемость +@@brand</p>
        <p class="project-card__info">Охват: @@reach человек</p>

        @@include("./_btn2.html", {
        "text": "Смотреть проект",
        "class": "btn--small"
        })
    </div>
</div>
